<main>
    <div class="navbar">
        <a href="/user/dashboard">My dashboard</a>
        <a href="https://www.coindesk.com/price/bitcoin" target="_blank">Bitcoin Price</a>
        <a href="/user/about">About</a>
        <a href="/user/login">Login</a>
        <a href="/user/logout">Logout</a>
    </div>

    <h1>NFT Marketplace</h1>

    {{#each NFT}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src= {{NFT.image}} alt="NFT image">
        <div class="card-body">
            <h4 class="card-title"><b>{{NFT.expire}}</b></h4>
            <p>{{NFT.user}}</p>
            <p>{{NFT.desc}}</p>
            <p>{{NFT.highestbid}}</p>
        </div>
    </div>
    {{/each}}
</main>