<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/user">Homepage</a>
            <a class="nav-item nav-link active" href="/user/dashboard">My dashboard</a>
            <a class="nav-item nav-link active" href="https://www.coindesk.com/price/bitcoin" target="_blank">Bitcoin Price</a>
            <a class="nav-item nav-link active" href="/aboutus">About</a>
            <a class="nav-item nav-link active" href="/user/logout">Logout</a>
        </div>
    </nav>
    <h1>NFT Listing</h1>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src= {{NFT.URL}} alt="NFT image">
        <div class="card-body">
            <h4 class="card-title"><b>Auction Ends: {{NFT.endDate}}</b></h4>
            <p>{{NFT.description}}</p>
            <p>Highest Bid: {{NFT.highestbid}}</p>
            <ul id = "comments">
            {{#each NFT.comments}}
            <li id={{this.s_id}}> <!--This is necessary for targeting specific elements based on id.--> 
                {{this.name}}: {{this.comment}}
            </li>
            {{/each}}
            </ul>
        </div>
    </div>

    <form id="bid-or-comment" method="post" action="">
        <label for="bid">Enter Bid</label><br>
        <input id="bid" type="number" name="bid"/><br>

        <label for="comment">Enter Comment</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
        <input id = "listid" type="text" name="listid" value={{NFT._id}} hidden/>
        <input id = "userid_bc" type="text" name="userid_bc" value={{userid}} hidden/>
        <button type="submit">Submit</button>

    </form>
    <div id="bid-or-comment-error" hidden></div>
</main>